h1{
    background-color: cadetblue;
    color: darkblue;
    padding: 14px;
    margin-bottom: 20px;
}

p{
    background-color: coral;
    color: darkred;
    padding: 5px;
    margin-bottom: 10px;
}

div{
    background-color: indianred;
    color: crimson;
    box-shadow: 2px 3px 5px rgb(142, 201, 124);
}